@font-face {
  font-family: "Bianco Sans";
  src: url("../fonts/BiancoSansNew.woff");
}

@font-face {
  font-family: "Kippenberger";
  src: url("../fonts/kippenberger-normal-400.ttf");
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: url("../images/jing-jing.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  font-family: "Kippenberger", "Bianco Sans", Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: calc(1em + 1vw);
  line-height: 2em;
  color: rgb(255, 204, 255);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgb(176, 4, 44);
  transition: color 400ms;
}

a:hover {
  color: rgb(255, 204, 255);
  transition: color 300ms;
}

mark {
  color: rgb(255, 204, 255);
  background: #000;
}

::-moz-selection {
  color: #000;
  background: rgb(223, 255, 0);
}

::selection {
  color: #000;
  background: rgb(223, 255, 0);
}

.smalltype {
  font-size: calc(0.6em + 0.7vw);
  line-height: 1.5em;
}

.main {
  display: grid;
  margin: auto;
  width: 80vw;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 100dvh 4fr 1fr;
  grid-template-areas:
    "header"
    "links"
    "footer";
}

.header {
  grid-area: header;
  align-self: center;
  height: auto;
  font: normal 700 25vw "Libre Baskerville", serif;
  color: rgb(176, 4, 44);
}

.links {
  grid-area: links;
  justify-items: center;
}

.projects ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-column-gap: 2.5%;
}

.projects h1 {
  font-family: "Lobster", cursive;
  font-style: normal;
  font-size: calc(0.8em + 1vw);
  line-height: 1em;
}

.footer {
  grid-area: footer;
  justify-items: center;
  align-self: end;
  padding: 2ch;
  width: 100%;
}

.social-icons {
  display: grid;
  justify-items: center;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5%;
  height: auto;
}

.email {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.git {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.blog {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}

.vimeo {
  grid-row: 1 / 2;
  grid-column: 4 / 5;
}

.codepen {
  grid-row: 1 / 2;
  grid-column: 5 / 6;
}

.tinyletter {
  grid-row: 1 / 2;
  grid-column: 6 / 7;
}

.icon {
  fill: rgba(176, 4, 44, 0.9);
  transition: fill 400ms ease;
  height: 24px;
}

.icon:hover {
  fill: rgba(255, 0, 23, 0.9);
  transition: fill 400ms ease;
}

@media all and (max-width: 768px) {
  body {
    background-size: contain;
    background-position: initial;
  }

  .main {
    display: grid;
    grid-template-rows: 1fr 2fr 6ch;
    margin: auto;
    width: 90vw;
  }

  .header {
    height: auto;
    align-self: center;
  }

  .icon {
    height: 18px;
  }
}

@media all and (max-width: 375px) {
  body {
    background-size: cover;
  }

  .projects h1 {
    font-size: 1.4em;
  }
  .smalltype {
    font-size: 1.2em;
  }
  .main {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 82vw;
    height: 100dvh;
  }

  .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40%;
    width: 100%;
  }

  .links {
    height: 40%;
  }

  .projects ul {
    display: flex;
    flex-direction: row;
  }

  .projects li {
    white-space: nowrap;
    padding-right: 4ch;
  }

  .footer {
    height: 20%;
    padding: 0 0 2ch;
    display: flex;
    align-items: center;
  }

  .social-icons {
    position: fixed;
    transform: translate3d(0, 0, 0);
    grid-gap: 10%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  }

  .icon {
    height: 18px;
  }
}
