html {
  box-sizing: border-box;
}

body {
	font: normal 300 1.5em/1.5em "nimbus-sans", sans-serif;
	background: url('../images/jing-jing.jpg');
  background-size: cover;
  background-position: center;
}

#container {
  margin: 30vh auto;
  width: 66vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.8fr 1fr 0.5fr auto;
  grid-template-areas:
   "header"
   "content"
   "links"
   "footer";
   grid-gap: 6.66%;
}

.header {
  grid-area: header;
  font: normal 600 7em "adobe-caslon-pro", serif;
  text-align: center;
  color: rgb(255, 192, 203);
}

.content {
  grid-area: content;
}

.links {
  grid-area: links;
  text-align: center;
}

.footer {
  grid-area: footer;
  text-align: center;
}

a {
  text-decoration: none;
  color: blue;
  transition: color 400ms;
}

a:hover {
  color: purple;
  transition: color 300ms;
}

ul,
li {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}
