html {
  box-sizing: border-box;
}

body {
  margin: auto;
	font: normal 300 2em/150% "nimbus-sans", sans-serif;
	background: url('../images/jing.jpg');
  opacity: 0.8;
  background-size: cover;
  background-position: center;
}

h1 {
  font: normal 600 5em/150% "adobe-caslon-pro", serif;
  text-align: center;
  color: rgb(255, 192, 203);
}

a {
  text-decoration: none;
  color: blue;
  transition: color 400ms;
}

a:hover {
  color: purple;
  transition: color 300ms;
}

ul,
li {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}
